
<app-header></app-header> 
<!-- <h1> Angular Is Fun  </h1> -->
<!--
<app-main-content></app-main-content>
-->
<!-- <h1>  Greats Men was A Good Learners</h1> -->

<!--<app-products></app-products>-->

<router-outlet> 
  
</router-outlet>
<!-- for example -->
<!-- this order to open src/app folder -->
<!-- ana bwreek el fekra bshakl 3am b3d kda htla2y el denya sahla b2zn ellah -->
<!-- ana kda 3ert el port 3shan el 2adem msh3ol  -->
<!-- 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sint quos
excepturi quia maiores in, eaque eligendi vitae dolorum velit modi 
perferendis consectetur debitis rem ad molestiae a porro explicabo. -->


<!--<img src="https://static.vecteezy.com/system/resources/previews/000/084/532/non_2x/small-vector-icon-set.jpg" alt="">-->
 
  <!--assets/design.jpg-->
 

  <!-- <app-footer></app-footer> -->
